.main1 .icons {
  float: right;
  width: 50px;
  text-align: center;
  margin-left: 0px;
}
.main1 .icons .down {
  margin-top: 11px;
}
.titles {
  font-size: 20px !important;
  line-height: 24px !important;
  height: 24px !important;
}
#guanzhua {
  float: right;
  width: 60px;
  text-align: center;
  margin-left: 0px;
  font-size: 20px;
  display: none;
}
.search > div {
  clear: both;
  height: 29px;
  overflow: hidden;
  border: 1px solid #888E6D;
  border-top: 0px;
  background-color: #FBFAF6;
}
.search #txtKey {
  height: 29px;
  line-height: 29px;
  background-color: #FBFAF6;
  float: left;
  padding-left: 2px;
  width: 90%;
  font-size: 16px;
  clear: left;
  border: 0px;
}
.search input.icon_search {
  float: right;
  width: 25px;
  height: 25px;
  clear: right;
  margin-top: 2px;
  margin-right: 2px;
  background-image: url(img/docSearch.png);
  background-size: 25px 25px;
  border: 0px;
  cursor: pointer;
}
.active {
  border-bottom: 2px solid #5D6146;
}
.dw {
  z-index: 100px;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 28px;
  background-image: url(/img/morebg.png);
  background-repeat: repeat-x;
  -webkit-tap-highlight-color: transparent;
}
.main3 .sons .cont.list-item {
  margin-top: 10px;
  border-bottom: 1px dashed #DAD9D1;
  padding-bottom: 7px;
}
.main3 .sons .cont.list-item a {
  color: #999999;
  font-size: 14px;
  float: left;
  margin-top: 5px;
  clear: both;
}
.main3 .sons .cont.list-item a:first-child {
  float: left;
  font-size: 20px;
  line-height: 30px;
  color: #19537D;
}
.autoplay {
  display: none;
  clear: both;
  margin-bottom: -15px;
  margin-top: 10px;
}
.tab5 .sright > a {
  width: auto;
  margin-right: 16px;
}
.page-tip {
  background-color: #E1E0C7;
  border: 0px;
  margin-top: 2px;
  width: auto;
  margin-right: 10px;
}

.icon_contentTitle{width:25px;height:25px;}.text_content_title{font-size:22px;line-height:30px;margin-bottom:10px;}.fanyiShow{z-index:100px;height:60px;width:100%;position:absolute;bottom:38px;background-image:url(img/morebg.png);background-repeat:repeat-x;-webkit-tap-highlight-color:transparent;}.fanyiContent{height:30px;font-weight:bold;font-size:20px;margin-bottom:10px;clear:both;}.cankao_title{width:20px;float:left;font-size:14px;line-height:140%;}.cankao_name{color:#919090;margin:0px;font-size:14px;line-height:140%;}.cankao_content{width:90%;float:left;font-size:14px;line-height:140%;}.cankao_section{clear:both;float:left;color:#999999;font-size:14px;width:100%;margin-top:4px;}.more{text-align:center;margin-top:-5px;}.wanshan{width:34px;height:18px;line-height:19px;margin-top:7px;float:right;color:#aeaeae;font-size:12px;}.sons{position:relative;z-index:0px;}.contson{position:relative;z-index:0px;}.headline_2{float:left;font-size:20px !important;}.headline_a{font-size:20px;line-height:24px;height:24px;}.mianze{color:#919090;margin:0px;font-size:14px;line-height:160%;}
		.fixPosition{
			color:#B00815;
		}
		.mingju_like{
			margin-top:10px;border-bottom:1px dashed #DAD9D1; padding-bottom:7px;
		}
		.like_text{
			float:left; font-size:20px; line-height:30px;
		}
		.like_from{
			color:#999999;font-size:14px; float:left; margin-top:5px; clear:both;
		}